version: '3.8'

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: quacknote_backend
    command: /bin/bash -c "chmod +x /app/entrypoint.sh && /app/entrypoint.sh"
    volumes:
      - ./backend:/app
      - bundle_cache:/usr/local/bundle
    ports:
      - "3000:3000"
    environment:
      RAILS_ENV: development
      AWS_REGION: ap-northeast-1
      DYNAMODB_USERS_TABLE: dev_quacknote_users
    stdin_open: true
    tty: true

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: quacknote_frontend
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    environment:
      - VITE_API_BASE_URL=http://localhost:3000
    depends_on:
      - backend
    stdin_open: true
    tty: true

volumes:
  bundle_cache:
